<table *ngIf="title" class="table-header">
  <tr>
    <td><h1>{{title}}</h1></td>
    <td rowspan="2" style="width: 100px"><img *ngIf="image" src="{{ image }}" alt="{{title}}" height="100"/></td>
  </tr>
  <tr><td>{{description}}</td></tr>
</table>
<hr>
<div style="padding: 10px 15px;">
  <mat-grid-list class="app-grid-list" [cols]="fixedCols" [rowHeight]="fitListHeight" [style.height]="fitListHeight" [style.width]="fitListWidth">
    <mat-grid-tile *ngFor="let product of filtered" style="cursor: pointer">
      <img routerLink="/product/{{product.seo.permalink}}" [alt]="product.productName" [src]="product.medias | parseUrl:'thumb'">
      <mat-grid-tile-footer>
        <h3 mat-line><strong>{{product.productName}}</strong></h3>
        <span mat-line>{{product.brand.brandName}}</span>
        <div *ngIf="product.discount;then discount_content else price_content"></div>
        <ng-template #discount_content>
          <p><span class="percentage">-{{product.discount.percentage}}%</span>
          <del>{{product.price.selling | currencyFormat}}</del>
          <b>{{product.discount.price | currencyFormat}}</b>
          </p>
        </ng-template>
        <ng-template #price_content>
          <p><span mat-line><strong>{{product.price.selling | currencyFormat}}</strong></span></p>
        </ng-template>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
  <a *ngIf="!isFullLoaded" mat-fab (click)="getData()" title="{{ 'load other items' | translate }}"><mat-icon>low_priority</mat-icon></a>
  <span class="done">
      <a mat-fab (click)="openBottomSheet()" title="{{ 'filter items' | translate }}"><mat-icon>filter_list</mat-icon></a>
  </span>
</div>
