.table-header {
  padding: 0 20px;
  height: 120px;
  width: 100%;

  td {
    vertical-align: top;
  }
}

.app-grid-list {
  width: 100%;
  margin: 0px;
  padding: 0px;
  
  p {
    margin: 16px;
  }

  .app-basic-list .mat-grid-tile {
    background: rgba(0, 0, 0, 0.32);
  }

  .mat-grid-tile-footer {
    font-size: large;
    height: 80px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
