<mat-card>
    <mat-card-content [innerHTML]="data.companyInfoContent | mytranslate"></mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>{{ 'Contacts' | translate }}</mat-card-title>
    <mat-card-content>
        <p><strong [translate]="'Phone'"></strong>&nbsp;&nbsp;{{ data.companyPhone }}</p>
        <p><strong [translate]="'Address'"></strong>&nbsp;&nbsp;
            {{ data.companyAddress }}
            {{ data.companyCity }}
            {{ data.companyZip }}
            {{ data.companyProvince }}
            {{ data.companyCountry }}
        </p>
        <strong [translate]="'Email'"></strong>
        <ul>
            <li><a href="mailto:{{ data.companyEmailInfo }}">{{ data.companyEmailInfo }} ({{ 'Information' | translate}})</a></li>
            <li><a href="mailto:{{ data.companyEmailSales }}">{{ data.companyEmailSales }} ({{ 'Sales' | translate}})</a></li>
            <li><a href="mailto:{{ data.companyEmailSupport }}">{{ data.companyEmailSupport }} ({{ 'Support' | translate}})</a></li>
        </ul>
        <br/>
    </mat-card-content>
</mat-card>
